* {
    margin: 0;
    padding: 0;
    border: none;
    outline-style: none;
    box-sizing: border-box;
    user-select: none;
    /* 禁止拖拽 */
    -webkit-user-drag: none;
}

/* 设置字体 */
@font-face {
    font-family: "Impact";
    src: url("../assets/fonts/Impact.2f7e286.TTF") format("truetype");
    font-weight: normal
}

@font-face {
    font-family: "hongmengti";
    src: url("../assets/fonts/inpin_hongmengti.34cb9e8.ttf") format("truetype");
    font-weight: bold
}

.font-num {
    font-family: Impact, "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, sans-serif !important;
}

.font-hm {
    font-family: hongmengti, "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, sans-serif !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

i {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

/* 输入框、文本域、选择框、按钮 继承父元素 */
input,
textarea,
select,
button {
    font-size: inherit;
    resize: none;
}

a,
a:focus,
a:hover {
    text-decoration: none !important;
    color: inherit;
    transition: all 0.4s ease;
}

html {
    font-size: 0.73vw;
    color: #222122;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    position: relative;
    line-height: 1;
    scroll-behavior: smooth;
    --themeColor: #d8fa00;
    --themeColor2: #000000;
    background: #efefef;
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, sans-serif;
}

/* 滑动条美化 */
::-webkit-scrollbar {
    width: 0.05vw;
    height: 0.05vw;
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #000;
}

::-webkit-scrollbar-track {
    background: #000;
}

::selection {
    background: var(--themeColor);
    color: #fff;
}

:focus {
    outline-color: var(--themeColor);
}

.container {
    box-sizing: border-box;
    width: 75.04vw;
    margin: 0 auto;
}

/* header */
.header {
    position: sticky;
    top: 0;
    z-index: 99;
    background: var(--themeColor2);
    color: #787878;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.91vw;
}


.header  ul.menu {
    display: flex;
    margin-left: 1.82vw;
    justify-content: center;
}

.header ul.menu li {
    margin-right: 5vw;
}

.header  ul.menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.88vw;
    width: 5.47vw;
    position: relative;
    border-radius: 0.94vw;
    font-size: 0.78vw;
    font-weight: bold;
}

.header  ul.menu li.active a,
.header  ul.menu li:hover a {
    color: black;
    background: white;
}



.index-title {
    padding-top: 1.46vw;
    display: flex;
    justify-content: flex-end;
}

.index-title .title-box {
    width: 20.48vw;
    padding-left: 2.71vw;
}

.index-title .cn {
    font-size: 2.50vw;
}

.index-title .en {
    font-size: 1.25vw;
    margin-top: 0.26vw;
    text-transform: uppercase;
    padding-left: 0.21vw;
}

.index-title .num {
    font-size: 7.30vw;
    margin-top: 0.26vw;
}

/* 更多 按钮 */
a.more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9.64vw;
    height: 3.02vw;
    border-radius: 1.56vw;
    border: 0.31vw solid #767678;
    background: #121212;
    font-size: 0.94vw;
    color: #d6d6d6;
}

a.more-btn .iconfont {
    font-size: 0.83vw;
    margin-left: 0.78vw;
}

a.more-btn:hover {
    background: white;
    color: #121212;
    border-color: #121212;
}
